.idea/*
*.iml
*test.json
data.json
*.rar
*.bak
_*/
.test
/truyendichwaka
/readdouban
/cuutruyen
/tienvuc
/moldich-truyen
/mol-truyen
/69shucom
/chivi
/mjjwxc
/nettruyen
/stv
/JMnedict
/myanimelist
/chivi-cn
/qidian
/forew
/sunsetviewvalley
/spiderum
.DS_Store
/rauxanh
/youtube
/sangtacviet
/kswxsw
/nga
/zyr688
/truyendocviet
/legado3
/fqweb-old
/huanxiangji
/nhimmeo_sv2
/nhimmeo
/nettruyenfake1b
/.trae
/fqweb
/hetushu
/hentainexus
/fq3
/legado-emu