.idea/*
*.iml
*test.json
data.json
*.rar
*.bak
_*/
.test
/truyendichwaka
/readdouban
/cuutruyen
/tienvuc
/moldich-truyen
/mol-dl-1
/mol-truyen
/wiki
/69shucom
/stvcn
/chivi
/mjjwxc
/m-kho-truyen
/fanqienovel
/vipbns
/nettruyen
/stv
/JMnedict
/myanimelist
/chivi-cn
/qidian
/forew
/sunsetviewvalley