.idea/*
*.iml
*test.json
data.json
*.rar
*.bak
_*/
.test
/truyendichwaka
/readdouban
/cuutruyen
/tienvuc
/moldich-truyen
/mol-truyen
/69shucom
/chivi
/mjjwxc
/nettruyen
/stv
/JMnedict
/myanimelist
/chivi-cn
/qidian
/forew
/sunsetviewvalley
/spiderum
.DS_Store
/rauxanh
/youtube